<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="severity" value="warning"/>
  <property name="fileExtensions" value="java"/>

  <module name="FileTabCharacter"/>

  <module name="TreeWalker">

    <module name="UnusedImports"/>
    <module name="AvoidStarImport"/>
    <module name="RedundantImport"/>

    <module name="ConstantName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
    </module>
    <module name="ParameterName"/>
    <module name="TypeName"/>

    <module name="EqualsHashCode"/>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <module name="NeedBraces"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>

    <module name="MethodLength">
      <property name="max" value="80"/>
    </module>

    <module name="UpperEll"/>
    <module name="ArrayTypeStyle"/>

  </module>
</module>
